
section, main, body, header, nav, footer, table, figure {
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 0;
	margin-left: 0;
}

h1, h2, h3, h4, h5, p, li, td, label, a:link, a:visited, a:hover, a:active {
	color: white;
	font-family: "HGPMinchoE", sans-serif;
	line-height: 150%;
}

a:link {
	color: white;
	font-family: "HGPMinchoE", sans-serif;
	text-decoration: none;
	font-size: 18pt;
}

a:visited {
	color: white;
	font-family: "HGPMinchoE", sans-serif;
}


h1 {
    text-align: center;
}

ul.dropdown{
    list-style-type: none;
}


tr#submit {
    margin-top: 20px;
}

section.left {
	float: left;
	width: 75%;
}

section.right {
	float: left;
	width: 25%;
	height: 500px;
}

section.centered {
	margin-right:auto;
	margin-left:auto;
    	width: 90%;
}

section#bottom {
    margin-right:5%;
    margin-left:5%;
    width: 90%;
    
}

footer.copyright {
	width: 100%;
	text-align: center;
    font-size: 8pt;
    float: left; 
}

nav {
	width: 100%;
	background-color: black;
	opacity: 90%;
}

table.nav {
	width: 100%;
	text-align: center;
}

table#infoform{
	margin-left: auto;
	margin-right: auto;
	
}

body {
	background-color: #311900;

}

button#submit {
	width: 50%;
    margin-left: auto;
    margin-right: auto;
}


main {
	margin-right: 20px;
	margin-left: 40px;
}

figure.tile {
	float: left;
	border-style: solid;
	border-color: white;
	height: 350px;
	width: 30%;
	margin: 11px;
    
    
}


figcaption {
	height: 10%;
	padding: 5%;
}

img.tile {
	width: 100%;
	height: 60%;
}

main.sheet {
	position: absolute;
	top: 0px;
	right: 10px;
	left: 10px;
	background-color: rgb(9, 69, 45);
	background-color: rgba(9, 69, 45, .8);
}


img.banner {
	width: 100%;
	height: 80%;
}


li {
	padding-bottom: 5px;
}

td {
	padding: 10px;
	text-align: center;
    width: 33%;
}


img.logo {
	height: 30%;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 2%;
	margin-top: -2%;
}

table#gallery {
	margin-left: auto;
	margin-right:auto;
	display: block;
}


p#bottom {
    margin-bottom: 10%;
    
}









